
<h1>Add a definition to $word.getName()</h1>

<form action="/" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Task</button>
</form>
