
<h1>Add a new word</h1>

<p>Add a new word here:</p>

<form action="/words" method="post">
  <label for="word">Enter word</label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
